<div class="card text-center">
    <div class="card-header">
        Status
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            Status update
        </div>
    </div>
</div>