<% if @user.comments.any? %>
  <div class="card mt-2">
      <h5>Comments (<%= @user.comments.count %>)</h5>
      <div class="list-group list-group-flush" id="microposts">
        <%= render @profile_comments %>
      </div>
      <div id="infinite-scrolling">
        <%= will_paginate @profile_comments, class: "pagination" %>
      <div>
  <div>
<% end %>