<% if @user.microposts.any? %>
  <div class="card mt-3">
      <!--<h3>Microposts (<%= @user.microposts.count %>)</h3>-->
      <div class="list-group list-group-flush" id="microposts">
        <%= render @microposts %>
      </div>
      <div id="infinite-scrolling">
        <%= will_paginate @microposts, class: "pagination" %>
      <div>
  <div>
<% end %>