<div class="card mt-2">
    <div class="row justify-content-center">
        <iframe src="https://open.spotify.com/embed/playlist/37i9dQZEVXbMDoHDwVN2tF" width="823" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>