<% provide(:title, "Activate Account") %>
<div class="container">
  <p><%= @greeting %> <%= @user.username %>,<p>

  <p>Thank you for signing up! SocialNetwork.com provides lots of amazing features to get you connected with people of similar interests.
  To learn more about SocialNetwork.com, please follow this <% link_to "link", "/About" %>!

  Click on the link below to activate your account:

  <%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</div>