<div class="container">
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <div class="row"><%= gravatar_for @user %></div>
        <div class="row"><%= @user.username %></div>
        <% if current_user.admin? && !current_user?(user) %>
    |   <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Are you sure you want to delete?" } %>
        <% end %>
      </h1>
    </section>
  </aside>
</div>
</div>