<% provide(:title, "#{@user.username}") %>
<div class="container">
      <div class="row mt-4">
          <div class="col-md-3">
              <%= render 'components/profile_intro' %>
          </div>
          <div class="col-md-9">
              <%= render 'components/profile_status'%>
              <%= render 'components/profile_music_player'%>
          </div>
      </div>
</div>