
body {
  background: #ffffff;   
}

.footer {
  background: #181818;
  position: relative;
  bottom: 0;
}

.hero {
  position: relative;
  height: 900px;
  background-image: linear-gradient(#4568dc, #b06ab3);
}

.svg-angle-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    fill: #ffffff;
}

.svg-angle-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vw;
  fill: #ffffff;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */
/* debug dump for non-prod */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
}

/* sidebar temporary */
  
  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }

  .settings-card {
    width: 450px;
  }
  
  .profile-pic-edit {
    max-height: 330px;
  }

  #loginDropdown {
    border-radius: 25%;
  }

  .dropdown-login {
    width: 250px;
  }